/*900px-1212px*/
@media (min-width: 900px) and (max-width: 1212.88px){    
    .header-wraped__button-all{
        margin-left: 35px;
    }       
    .text__title{
        font-size: 49px;
    }
    .find-room{
        max-width: 79%;
    }
    .holidays{
        left: 15px;        
    }
    .holidays-img__gong{
        width: 55%;
    }
    .holidays-img__gong-fon{
        width: 48%;
    }
    .holidays-img__ripples{
        width: 22%;
    }
    .dream-conteiner{
     width: 21%;
     margin-top: -18px;   
    }
    .dream-conteiner__title{
     font-size: 27px;   
    }
    .room__img{
        width: 95%;
    }   
    .hotel-gallery{
        justify-content: center;
    }
    .client-say{
        width: 100%;
    }
    .reviews{
        width: 100%;
    }
   .about{
       margin-right: 92px;
   }
   .info{
      width: 100%;
      flex-wrap: nowrap;
   }  
   .logo-info__img{
       width: 65%;
   }
   .logo-info{
       width: 23%;
   }
   .logo-info__description{
       font-size: 15px;
       margin-bottom: 25px;
   }
   .info-row{
       width: 16%;           
   }
   .info-row__content{
       font-size: 13px;
   }
   .info-row{
      padding-left: 20px;
   }
   .subscribe{
       width: 33%;
   }
   
}
/*650px-900px*/
@media (min-width: 650px) and (max-width: 899px){
  .header-wraped{
    justify-content: start;
  }  
  .header-wraped__img{
      width: 72%;
  }
  .header-list{
    margin-left: -35px;  
  }
  .header-list__item{
      margin-right: 25px;
  }
  .button{
      width: 120px;
  }  
  .header-wraped__button-all {
    position: absolute;
    top: 15px;
    left: 173px; 
  }
  .header-wraped{
      position: relative;
  }
  
  .text__title{
      font-size: 45px;
      line-height: 109%;
  }
  .find-room{
      left: 50px;
  }
  .serch{
      margin-right: -3px;
  }
  .serch__button {
      position: absolute;
      margin: 0px;
      left: 430px;
  }  
  .holidays-img__gong{
      width: 60%;
  }
  .holidays-img__gong-fon{
      width: 50%;
      left: 180px;
  }
  .holidays-img__ripples{
      width: 20%;
  }
  .dream-conteiner{
      width: 20%;
      margin-top: -5px;
      margin-bottom: 20px;
  }
  .dream-conteiner__title{
      font-size: 22px;
  }
  .client-say{
      width: 100%;
  }
  .reviews{
      width: 100%;
  } 
  .people__discription{
      font-size: 13px;
  }
  .about{
      max-width: 50%;
      padding-bottom: 15px;
  }  
  .intouch{
      margin-left: 200px;
  }
  .intouch__discription{
      font-size: 27px;     
  }
  .email{
    margin-left: 200px;   
  }
  .inter-email__address{
      width: 312px;
  }
  .info{
     width: 100%;
    
  }
  .logo-info__description{
      font-size: 14px;
  }
  .logo-info__email{
      font-size: 13px;
  }
  .logo-info{
      width: 25%;
  }
  .info-row{
      width: 25%
  }
  .intouch{
      margin-left: 35px;
  }
  .email{
      margin-left: 35px;
  }
  .social__massager{
      margin-right: 10px;
  }
  .info-row__content{
      font-size: 12px;
  }
  .logo-info__img{
    width: 77%;
  }
  .subscribe{
      width: 20%;
  }
  .subscribe-inter{
      width: 55%;
  }
  .subscribe-inter__text{
      width: 125px;
  }


 
}