*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BLOCK HEADER-->*/
.wraped{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;    
}
.header-wraped{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /*position: fixed;*/    
}
.header-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 128px;   
}
.header-list__item{    
    margin-right: 40px;
}
.header-list__item:last-child{
    margin-right: 0px;
}
.header-list__link{
    text-decoration: none;
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(8, 31, 50, 0.7)
}
.header-wraped__button-all, button{
    width: 134px;
    height: 54px;
    background: #1B75BB;
    border-radius: 5px; 
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;    
}
.header-wraped__button-all{
    margin-left: 331px;
}
.header-list__link:active{
    color: #1B75BB;
}
/*BLOCK MAIN*/
.text{
    padding-top: 150px;
}
.text__serenity{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: rgba(27, 117, 187, 0.8);
    margin-bottom: 15px;    
}
.text__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    max-width: 39%;
    margin-bottom: 25px;
}
.text-title__home{
    color: #1B75BB;
    text-decoration: none;
}
.text__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.6);
    max-width: 347px;
    margin-bottom: 30px;
}
.text__button{
   margin-bottom: 48px;    
}
.intro{
    height: 90vh;
    max-width: 100%;          
    background-image: url(../img/back-fon.jpg);
    background-size: cover;    
}
/*FIND-ROOM*/
.cheek-data{
    position: relative;   
}
.find-room{
    display: flex;
    flex-wrap: wrap;
    max-width: 61%;
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    position: absolute;
    align-items: center;    
    top: -30px;      
}
.line{
    width: 34px;
    height: 0px;    
    opacity: 0.4;
    border: 2px solid #9DACB8;
    transform: rotate(90deg);
    margin-right: 30px;
    background-color: #9DACB8;
}
.serch{    
    margin-right: 30px;     
    align-items: center;    
}
.serch__room{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
}
.serch__data{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.8);
}
.serch__button {
    margin-left: 30px;
    margin-right: 49px;
}
/*HOLIDAYS*/
.holidays{    
    display: flex;
    flex-wrap: wrap;
    margin-top: 160px;
    position: relative;
    justify-content: space-between;
    margin-bottom: 200px;
   
}
.holidays-img{
    max-width: 51%;
}
.holidays-img__gong{
    /*width: 51%;*/
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 47px;
    border-radius: 10px;
}
.holidays-img__gong-fon{
    position: absolute;
    z-index: 0;
    left: 263px;        
}
.holidays-img__ripples{
    position: absolute;
    top: 225px;
    left: 0px;
    z-index: 0;
}
.dream-conteiner{
    width: 35%;
    margin-top: 50px;
}
.dream-conteiner__holidays{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color:rgba(27, 117, 187, 0.8);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.dream-conteiner__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    margin-bottom: 32px;
}
/*CHOOSE-CONTEINER*/
.choose{
    width: 72%;
    text-align: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;           
}
.choose__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}
.choose__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.6);
}
.choose-row{
    display: flex;
    flex-wrap:nowrap;    
    width: 100%;    
}
.choose-col{
    max-width: 25%;
    text-align: center;
    margin-right: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);    
}
.choose-col__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #081F32;
}
.choose-col__discription{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.6);      
}
/*HOTEL-GALLERY*/
.hotel-gallery{
    display: flex;
    flex-wrap: wrap;       
    margin-top: 140px;
    justify-content: space-between;    
}
.about{
    max-width: 38%;
    margin-right: 147px;
    padding-bottom: 54px;
}
.about__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}
.about__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.6);
    margin-bottom: 30px;  
}
.room{    
    width: 48%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;    
}
.room__img{
    display: block;
    width: 100%;
}
.price__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #081F32; 
    margin-bottom: 10px;   
}
.price__to-night{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.8);
    margin-left: 25px;
}
.price__button{
    width: 105px;
    height: 41px;
    background: #1B75BB;
    border-radius: 5px; 
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF; 
}
.price{
    position: absolute;
    bottom: 0;
    left: 0;   
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}
.mini-room{
    width: 48%;     
    border-radius: 10px;    
    position: relative;
    padding-bottom: 270px;
    margin-top: 30px;
    margin-right: 30px;
}
.price-mini{
    position: absolute;
    top: 150px;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}
.stande-room{
    width: 48%;    
    border-radius: 10px;    
    position: relative;
    margin-top: 30px;
}
.price-stande{
    position: absolute;
    top: 150px;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}
.single-room{
    width: 48%;   
    border-radius: 10px;    
    position: relative;
    margin-top: 30px;
    padding-bottom: 270px;
    margin-right: 30px;
}
.price-single{
    position: absolute;
    top: 150px;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;     
}
.elite-room{
    width: 48%;   
    border-radius: 10px;    
    position: relative;
    margin-top: 30px;
}
.price-elite{
    position: absolute;
    top: 150px;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
}
/*CLIENT-SAY*/
.client-say{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px; 
}
.client-say__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}
/*REVIEWS*/
.reviews{
    display: flex;
    flex-wrap: wrap;
    width: 1140px; 
    margin-left: auto;   
    margin-right: auto;
    margin-top: 60px;    
}
.people{
    width: 30%;
    height: 100%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
    margin-right: 30px;
    padding: 28px;
}
.people__discription{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.6);
    margin-top: 25px;
}
.people{
    opacity: 0.7;    
}
.people:hover{
    opacity: 1;
}
.people__discription::before{
    content: "\201C";
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);  
}
.name__title{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: rgba(8, 31, 50, 0.7);
    margin-top: 30px;
}
.name__email{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.7);
    padding: 5px;
}
.people:last-child{
    margin-right: 0px;
}
.intouch{
    text-align: center;
    margin-top: 140px;
}
.intouch__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: rgba(8, 31, 50, 0.8);
}
.intouch__discription{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    margin-top: 20px;
}
/*EMAIL*/
.email{
    text-align: center;
    margin-top: 50px;    
}
.inter-email{
    display: flex; 
    justify-content: center;   
}
.inter-email__address{
    width: 405px;
    height: 54px;
    padding: 15px 30px 15px 30px;    
}
/*INFO*/
.info{
    display: flex;
    flex-wrap: wrap;
    width: 1203px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;    
}
.logo-info__description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(8, 31, 50, 0.7);
    margin-bottom: 30px;    
}
.info-row__link{
    text-decoration: none;
    color: #081F32;
    opacity: 0.7;
}
.logo-info__email{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.7);    
}
.social{
    margin-top: 15px;
}
.social__massager{
    margin-right: 25px;
    text-decoration: none;
}
.social__massager:last-child{
    margin-right: 0px;
}
.info-row__content{
    list-style: none;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: rgba(8, 31, 50, 0.7);
    margin-right: 76px;
    cursor: pointer;
}
.subscribe__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #081F32; 
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 54px;
}
.subscribe-inter{
    width: 100%;
    display: flex; 
    justify-content: center;   
}
.info-row{
    margin-top: 54px;
}
.info-row__link:active{
    opacity: 1;
    color: #081F32;
    margin-bottom: 30px;
}
.info-row__content:active{   
    margin-bottom: 30px;
}
.subscribe-inter__text{
    width: 300px;
    height: 54px;
}


    






